<!-- integration point -->
{% load static %}
<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ESG</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

    <style>
        #chartdiv {
            width: 100%;
            height: 500px;
        }
    </style>

</head>
<body>
<div class="header">
    <div class="container">
        <nav class="navbar navbar-expand-sm bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">ESG</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'ESGmanager:activity_list' page_user.username %}">활동내역</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'ESGmanager:total_points' page_user.username %}">통합포인트</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"  href="{% url 'ESGmanager:metamask' page_user.username %}">지갑연동</a>
                        </li>
                    </ul>
                </div>
                <div class="user">
                    <ul class="navbar-nav">
                        <li class="nav-item ms-2">{{ page_user.username }}</li>
                    </ul>
                </div>
            </div>

        </nav>
    </div>
</div>

<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center">

        <h1 class="my-5 text-center">통합 포인트</h1>

        <div class="description m-auto text-center">
            <h2 class="point">{{ total_points.poi__sum }}</h2>
            <p>포인트를 모으셨습니다.</p>
            <button type="button" id="transformPoint" class="btn btn-secondary btn-lg" onclick="confirm('개발 진행중 입니다.')">포인트 전환 신청</button>
        </div>

        <div id="chartdiv" class="my-5"></div>

    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>

<!-- Resources -->
<script src="https://cdn.amcharts.com/lib/5/index.js"></script>
<script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
<script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
<!-- Chart code -->
<script type="text/javascript" src="{% static 'js/drawPointChart.js' %}"></script>
</body>
</html>